<div dir="{{'dir'| translate}}">

  <div class="pt-5 pb-2 allPage">
    <div class="container containerTitle">
      <div class="row">
        <div class="col-12">
          <p class="font-weight-bold title">{{'terms' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-danger">{{'welcome' | translate}}</h4>
          <p>
            {{'description' | translate}}
          </p>

      </div>
    </div>
  </div>
</div>
