<div class=" bg-danger containerForAllfoter">
<div class="container py-3">
  <div class="row justify-content-between ">
    <div class="col-md-5 col-12 my-1 text-left text-light copyRight">
     <!-- {{'dealForDel' | translate}}
      &copy; -->
     {{'copyRight' | translate}}
    </div>
    <div class="col-md-4 col-12 my-1 text-right socialIcons" >
      <a class="mx-1  rounded-circle text-center twitter" href="{{twitter}}" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="mx-1  rounded-circle text-center facebook" href="{{facebook}}" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="mx-1  rounded-circle text-center instgram" href="{{instgram}}" target="_blank">
        <i class="fab fa-instagram "></i>
      </a>
      <a class="mx-1  rounded-circle text-center youtube" href="{{youtube}}" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>
</div>
