<div dir="{{'dir'| translate}}">

    <div class="border-bottom pt-5 pb-4">
        <div class="container containerTitle">
            <div class="row">
                <div class="col-12">
                    <p class="font-weight-bold title">{{'work' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 py-5">
        <div class="row align-items-center">
            <div class="col-md-4 col-12 text-center">
                <img src="assets/img/work/buy.png" alt="img" class="img-fluid">
                <span class="d-block font-weight-bold">{{'buy' | translate}}</span>
            </div>
            <div class="col-md-4 col-12 text-center border-right border-left">
                <img src="assets/img/work/ticket.png" alt="img" class="img-fluid">
                <span class="d-block font-weight-bold">{{'ticket' | translate}}</span>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img src="assets/img/work/prize.png" alt="img" class="img-fluid">
                <span class="d-block font-weight-bold">{{'prize' | translate}}</span>
            </div>
        </div>
    </div>




</div>
