
p.title {
    color: #231F20;
    line-height: 40px;
    text-align: justify;
    font-family: Cairo;
    font-size: 25px;
}

span {
    color: #231F20;
    font-family: Cairo;
    font-size: 23px;
}
