<div class="container py-5 animated fadeIn">
 <div class="row d-flex flex-column">
   <div class="d-flex">
     <h4>{{'Notifications' | translate}}</h4>
   </div>
   <div class="d-flex align-items-center flex-column col-sm-12">
     <div class="d-flex justify-content-end align-items-end col-sm-12">
       <i class="fa fa-close close-noty d-flex justify-content-center align-items-center"></i>
     </div>
     <div class="d-flex col-sm-12 header justify-content-between align-items-center mt-3">
       <div class="d-flex justify-content-start align-items-start col-sm-6 pt-3">
         <p class="all">{{'All Notification' | translate}}</p>
       </div>
       <div class="d-flex justify-content-end align-items-end col-sm-6 pt-3">
         <p class="actions">{{'Clear All' | translate}}</p>
         <p class="mx-2 actions">{{'Notifications Settings' | translate}}</p>
       </div>
      </div>
     <div class="d-flex align-items-center flex-column col-sm-12 all-notifications pb-5 pl-0 pr-0 mt-2">
       <!--     /////////////////////////////////////////////////////////-->
       <div class="d-flex col-sm-12 content justify-content-between align-items-center mt-3 p-0">
         <div class="d-flex justify-content-start align-items-start col-sm-10 pt-3">
           <img class="icon-n" src="assets/img/icon.svg">
           <div class="d-flex flex-column mt-3">
            <div class="d-flex">
              <img class="icons-noty " src="assets/img/bell.png" alt="image"><span class="mx-2 notification-title">{{'notification' | translate}} <span class="dot">.</span> {{'now' | translate}}</span>
            </div>
             <p class="noty-desc mt-2"><span class="red">982345</span> {{'has arrived to destination country' | translate}}.</p>
           </div>
         </div>
         <div class="d-flex justify-content-end align-items-end col-sm-2 pt-0 c-n">
           <i class="fa fa-close close-noty-1 d-flex justify-content-center align-items-center"></i>
         </div>
       </div>
       <!--     ////////////////////////////////////////////////-->
       <!--     /////////////////////////////////////////////////////////-->
       <div class="d-flex col-sm-12 content justify-content-between align-items-center mt-3 p-0">
         <div class="d-flex justify-content-start align-items-start col-sm-10 pt-3">
           <img class="icon-n" src="assets/img/icon(1).svg">
           <div class="d-flex flex-column mt-3">
             <div class="d-flex">
               <img class="icons-noty " src="assets/img/bell.png" alt="image"><span class="mx-2 notification-title">{{'notification' | translate}} <span class="dot">.</span> {{'now' | translate}}</span>
             </div>
             <p class="noty-desc mt-2"><span class="red">982345</span> {{'has arrived to destination country' | translate}}.</p>
           </div>
         </div>
         <div class="d-flex justify-content-end align-items-end col-sm-2 pt-0 c-n">
           <i class="fa fa-close close-noty-1 d-flex justify-content-center align-items-center"></i>
         </div>
       </div>
       <!--     ////////////////////////////////////////////////-->
       <!--     /////////////////////////////////////////////////////////-->
       <div class="d-flex col-sm-12 content-1 justify-content-between align-items-center mt-3 p-0">
         <div class="d-flex justify-content-start align-items-start col-sm-10 pt-3">
           <img class="icon-n" src="assets/img/icon(2).svg">
           <div class="d-flex flex-column mt-3">
             <div class="d-flex">
               <img class="icons-noty " src="assets/img/bell.png" alt="image"><span class="mx-2 notification-title">{{'notification' | translate}} <span class="dot">.</span> {{'now' | translate}}</span>
             </div>
             <p class="noty-desc mt-2"><span class="red">982345</span> {{'has arrived to destination country' | translate}}.</p>
           </div>
         </div>
         <div class="d-flex justify-content-end align-items-end col-sm-2 pt-0 c-n">
           <i class="fa fa-close close-noty-1 d-flex justify-content-center align-items-center"></i>
         </div>
       </div>
       <!--     ////////////////////////////////////////////////-->
       <!--     /////////////////////////////////////////////////////////-->
       <div class="d-flex col-sm-12 content justify-content-between align-items-center mt-3 p-0">
         <div class="d-flex justify-content-start align-items-start col-sm-10 pt-3">
           <img class="icon-n" src="assets/img/icon(3).svg">
           <div class="d-flex flex-column mt-3">
             <div class="d-flex">
               <img class="icons-noty " src="assets/img/bell.png" alt="image"><span class="mx-2 notification-title">{{'notification' | translate}} <span class="dot">.</span> {{'now' | translate}}</span>
             </div>
             <p class="noty-desc mt-2"><span class="red">982345</span> {{'has arrived to destination country' | translate}}.</p>
           </div>
         </div>
         <div class="d-flex justify-content-end align-items-end col-sm-2 pt-0 c-n">
           <i class="fa fa-close close-noty-1 d-flex justify-content-center align-items-center"></i>
         </div>
       </div>
       <!--     ////////////////////////////////////////////////-->
       <!--     /////////////////////////////////////////////////////////-->
       <div class="d-flex col-sm-12 content-1 justify-content-between align-items-center mt-3 p-0">
         <div class="d-flex justify-content-start align-items-start col-sm-10 pt-3">
           <img class="icon-n" src="assets/img/icon(4).svg">
           <div class="d-flex flex-column mt-3">
             <div class="d-flex">
               <img class="icons-noty " src="assets/img/bell.png" alt="image"><span class="mx-2 notification-title">{{'notification' | translate}} <span class="dot">.</span> {{'now' | translate}}</span>
             </div>
             <p class="noty-desc mt-2"><span class="red">982345</span> {{'has arrived to destination country' | translate}}.</p>
           </div>
         </div>
         <div class="d-flex justify-content-end align-items-end col-sm-2 pt-0 c-n">
           <i class="fa fa-close close-noty-1 d-flex justify-content-center align-items-center"></i>
         </div>
       </div>
       <!--     ////////////////////////////////////////////////-->
       <div class="d-flex col-sm-12  justify-content-center mt-5 align-items-center mt-3 p-0">
         <i class="fa fa-refresh"></i>
       </div>
     </div>
     </div>
 </div>
</div>
