<div class="container pt-3 mt-4 animated fadeIn">
  <div class="d-flex">
    <h4><i class="mx-4 fa fa-arrow-left" routerLink="/profile"></i>{{'Wish List' | translate}}</h4>
  </div>
  <div class="col-sm-12 d-flex justify-content-center align-items-center flex-column">
        <div>
          <i class="fa fa-heart-o"></i>
        </div>
        <div class="my-4">
          <p class="info">{{'You have no items in your wishlist' | translate}}</p>
        </div>
      <div class="my-4">
        <button class="btn btn-action" routerLink="/campaign">{{'Start Shopping' | translate}}</button>
        </div>
  </div>
</div>
