<div class=" container mt-5 animated fadeIn">
  <div class="d-flex py-md-5 pb-0 pt-5">
    <h4><i class="px-2 d-none d-md-inline-block d-lg-inline-block fa fa-arrow-left" routerLink="/profile"></i>{{'Change Password' | translate}}</h4>
  </div>
  <form class="row d-flex flex-column justify-content-center align-items-center main-f py-3 mx-md-4 mx-0  my-4"  [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
   <div class="d-flex justify-content-center align-items-center col-sm-6 flex-column mt-3" [ngClass]="validateGroup('currentPassword')">
     <div class="col-sm-12 text-center my-3 head">
       {{'Change Password' | translate}}
     </div>
     <div class="col-sm-12">
        <p class="customLabel">{{'Old Password' | translate}}</p>
      </div>
      <div class="col-sm-12">
        <input type="password" class="form-control" placeholder="{{'Old Password' | translate}}" formControlName="currentPassword">
      </div>
     <div *ngIf="validateControl('currentPassword')" class="form-control-feedback">
       <p  *ngIf="validateError('currentPassword','required')" class="text-center validate-shift"><i
         class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{'Old password is required' | translate}}</p>
     </div>
    </div>
<!--    new-->
    <div class="d-flex justify-content-center align-items-center col-sm-10 col-md-6 flex-column mt-3">
      <div class="col-sm-12">
        <p class="customLabel">{{'New Password' | translate}}</p>
      </div>
      <div class="col-sm-12">
        <input type="password" class="form-control" placeholder="{{'New Password' | translate}}" formControlName="password">
      </div>
      <div *ngIf="validateControl('password')" class="form-control-feedback">
        <p  *ngIf="validateError('password','required')"  class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
         {{'New Password is Required' | translate}}</p>
        <p  *ngIf="validateError('password','sameCurrentPass')"  class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {{'New Password mustMatch' | translate}}</p>
      </div>
    </div>
<!--    re-new-->
    <div class="d-flex justify-content-center align-items-center col-sm-10 col-md-6 flex-column mt-3">
      <div class="col-sm-12">
        <p class="customLabel">{{'Re-new password' | translate}}</p>
      </div>
      <div class="col-sm-12">
        <input type="password" class="form-control" placeholder="{{'Re-new password' | translate}}" formControlName="passwordConfirmation">
      </div>
      <div *ngIf="validateControl('passwordConfirmation')" class="form-control-feedback">
        <p  *ngIf="validateError('passwordConfirmation','matchFailed')"
            class="text-center validate-shift"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
         {{'New password and re-new password must be the same' | translate}} </p>
        <p  *ngIf="validateError('passwordConfirmation','required')"  class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {{'Confirm new password is required' | translate}}</p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center col-sm-10 col-md-6 flex-column mt-3 mb-4 flex-column">
      <p *ngIf="asyncSuccessMessage" class="alert alert-success">{{asyncSuccessMessage}}</p>
      <p *ngIf="asyncErrorMessage" class="alert alert-danger">{{asyncErrorMessage}}</p>
      <button class="btn btn-action" [disabled]="form.invalid" [ladda]="submitted">{{'Change Password' | translate}}</button>
    </div>
    </form>
</div>
