@import "../../../../styles";
.main-f{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.head{
  font-weight: bold;
  font-size: 17px;
}
.customLabel {
  color:  #231f20 !important;
}
@media (max-width: 1200px) {
  p{
    font-size: 13px;
  }
}
