<notifier-container></notifier-container>
<div class="container py-5 animated fadeIn">
<div class="d-none d-md-block d-lg-block py-5">
  <h4><i class="px-2 fa fa-arrow-left" routerLink="/profile"></i>{{'Invite Friends' | translate}}</h4>
</div>
  <div class="d-flex justify-content-center align-items-center flex-column main-d py-5">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <p class="l-p py-2">{{'Refer a friend and earn' | translate}} <span class="money">100 {{'dreamPoints' | translate}}</span></p>
        <p class="l-p py-2">{{'When they make their first purchase' | translate}}</p>
        <p class="l-p py-2">{{'Your friend will also get' | translate}} <span class="money">100 {{'dreamPoints' | translate}}</span></p>
    </div>
    <div class="d-flex justify-content-center align-items-center py-3">
        <p class="code">{{'Your invitation code' | translate}}</p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <input value="{{code || 'No code'}}" readonly class="code-1 text-center px-3 py-2" id="code"/>
        <button class="btn copy btn-action mx-1 py-2" (click)="select()">{{'Copy' | translate}}</button>
    </div>
  </div>
</div>
