@import 'layout';
// for select
@import "~@ng-select/ng-select/themes/default.theme.css";
// share button
@import "~@ngx-share/button/themes/circles/circles-dark-theme";
// notifier
@import "~angular-notifier/styles";
$pinkish-red: #ec2326;
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
* {
    box-sizing: border-box;
}
*:not(i) {
  font-family: 'Cairo';
}
html {
    scroll-behavior: smooth;
}

// html, body{
//   min-height: 100vh;
//   height: auto;
//   margin: 0;;
// }

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 43, 43, 0.3);
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(225, 0, 0, 0.75) 1.5em 0 0 0, rgba(235, 10, 10, 0.75) 1.1em 1.1em 0 0, rgba(238, 17, 17, 0.75) 0 1.5em 0 0, rgba(246, 78, 78, 0.75) -1.1em 1.1em 0 0, rgba(233, 74, 74, 0.75) -1.5em 0 0 0, rgba(230, 77, 77, 0.75) -1.1em -1.1em 0 0, rgba(236, 86, 86, 0.75) 0 -1.5em 0 0, rgba(238, 107, 107, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(225, 0, 0, 0.75) 1.5em 0 0 0, rgba(235, 10, 10, 0.75) 1.1em 1.1em 0 0, rgba(238, 17, 17, 0.75) 0 1.5em 0 0, rgba(246, 78, 78, 0.75) -1.1em 1.1em 0 0, rgba(233, 74, 74, 0.75) -1.5em 0 0 0, rgba(230, 77, 77, 0.75) -1.1em -1.1em 0 0, rgba(236, 86, 86, 0.75) 0 -1.5em 0 0, rgba(238, 107, 107, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.footers {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-link {
    cursor: pointer;
}

.btn-action {
    object-fit: contain !important;
    border-radius: 10px !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    background-color: #ec2326 !important;
    color: #fff !important;
}

.fa-arrow-left {
    font-size: 23px;
    object-fit: contain;
    opacity: 0.7;
    cursor: pointer;
}

.red {
    color: $pinkish-red;
}

.nav-link:focus {
    outline: none !important;
}

.validate-shift {
    color: #e25950;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 15px;
}

.input-group-shift {
    margin-bottom: 20px;
}

.main {
    // margin-top: -14px;
    margin-top: 136px;
    // min-height: 80vh;

   // min-height:  calc(100vh - 100px);
  min-height: 100vh;
}

@media (max-width: 990px) {
    .main {
        margin-top: 80px;
        min-height: auto;
    }
}

@media (max-width: 1200px) {
    .ladda-button {
        font-size: 12px;
    }
    h4 {
        font-size: 17px;
    }
}

.navbar-toggler collapsed {
    cursor: pointer;
}


.notifier__notification--material .notifier__notification-message {
   width: 270px;
  //  word-wrap: none;
   text-align: center;
 }
