<div class="container animated fadeIn col-10">

    <div class="row mb-5">
      <h4>Order</h4>
    </div>
   <div class="row">
    <!-- <div class="col-sm-12 d-flex justify-content-center align-items-center mt-4"> -->
      <div class="col-sm-7 p-4 main-f mb-4">
       <div class="row">
         <div class="col-sm-12">
           <p class="order-title text-{{ currentLanguage === 'en'  ?  'right' : 'left'}}">{{'PAYMENT OPTIONS' | translate}}</p>
           <p class="divider"></p>
         </div>
       </div>
        <div class="row mb-4">
          <form class="col-sm-12">
            <div class="row pl-2">
              <div class="col-sm-4 d-flex" *ngFor="let pm of paymentMethods">
                <!-- (change)="selectMethod(pm.id)" -->
                <input [checked]="selectedMethod == pm.id"  class="mx-1" type="radio" id="pm.id" name="pm.name" value="pm">
                <img class="credit-card mx-1" src="{{hostUrlImages + pm.mobile_icon}}">
                <label class="mx-1 c-l" for="pm.name">{{currentLanguage =='en'?pm.name_en:pm.name_ar}}</label>
              </div>
              <!-- <div class="col-sm-4">
                <input  [checked]="selectedMethod === 'dream_points'"   (change)="selectMethod('dream_points')" class="mx-1" type="radio" id="dream_points" name="dream_points" value="dream_points">
                <img class="dream_points mx-1" src="assets/img/shipping.svg">
                <label class="mx-1  c-l" for="dream_points">Dream points </label>
                <p class="info">You can use your available dream points for  your purchases</p>
              </div> -->
            </div>
          </form>
       </div>
       <div class="row">
         <form class="col-sm-10" #cardForm>
           <div class="row">
               <div class="col-sm-12 my-2">
                   <input type="number" required maxlength="16" placeholder="{{'Card number' | translate}}" class="form-control">
                 </div>
           </div>
           <div class="row">
               <div class="col-sm-12 my-2">
                   <input type="text" required  placeholder="{{'name' | translate}}" class="form-control">
                 </div>
           </div>
           <div class="row">
             <div class="col-sm-6 my-2">
               <!-- (change)="selectDate($event.target.value)" -->
               <input type="date" placeholder="{{'Expires' | translate}}" class="form-control" >
             </div>
             <div class="col-sm-6 my-2">
               <input type="number" class="form-control" required maxlength="3" placeholder="cvv">
             </div>
           </div>
           <div class="row">
             <div class="col-sm-12 d-flex my-2">
              <input type="checkbox" id="billing" checked>
              <label for="billing" class="pt-1 px-2 billing">{{'billingaddress' | translate}}</label>
            </div>
           </div>
         </form>

       </div>
      </div>
      <div class="col-sm-4 main-f mx-4 p-3 ">
        <p class="header text-{{ currentLanguage === 'en'  ?  'right' : 'left'}}">{{'total' | translate}}</p>
        <div class="d-flex justify-content-between">
          <p class="col-sm-6 details text-{{ currentLanguage === 'en'  ?  'right' : 'left'}}">{{'total-product' | translate}}</p>
          <p class="col-sm-6 details text-right">{{cartItems?.length}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-sm-6 details text-{{ currentLanguage === 'en'  ?  'right' : 'left'}}">{{'total-ticket' | translate}}</p>
          <p class="col-sm-6 details text-right">{{cartItems?.length * donateFactor}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-sm-6 details text-{{ currentLanguage === 'en'  ?  'right' : 'left'}}">{{'grand-total'| translate}}</p>
          <p class="col-sm-6 details text-right">{{currencyText}} {{getTotal()}}</p>
        </div>
        <div class="col-sm-12 my-3">
                <span>{{'will-earn' | translate}}</span>
                <!-- <p class="msg"><span class="dollar">$</span> you will earn<span class="red">50 dream points </span>from this purchase</p> -->
        </div>
        <div class="col-sm-12 my-5">
          <button class="btn btn-action btn-block" [disabled] ="!cardForm.valid">{{'ORDER' | translate}}</button>
        </div>
      </div>
    <!-- </div> -->
  </div>
 </div>
